.main {
    min-height: 950px;
    background: url(/img/main_bg.jpg) center (center / cover) no-repeat;
    padding-top: 50px;
    position: relative;
    &__title {
      margin-top: 262px;
      font-size: 60px;
      line-height: 45px;
      font-weight: 900;
      color: #262626;
    }
    &__descr {
      max-width: 370px;
      margin-top: 26px;
      font-size: 17px;
      line-height: 27px;
      font-weight: 300;
      color: #262626;
    }
    &__btn {
      margin: 0;
      margin-top: 27px;
      width: 200px;
      height: 55px;
      background-color: #ff6033;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #fff;
      border: none;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
      &:hover {
        background-color: #fa400c;
        cursor: pointer;
      }
    }
  }
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo a {
      font-family: 'Pacifico', cursive;
      font-size: 50px;
      line-height: 50px;
      color: #262626;
      text-decoration: none;
    }
    &__menu {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      list-style: none;
      & li a {
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        color: #262626;
        text-decoration: none;
        margin-left: 37px;
        &:hover {
          padding-top: 5px;
          border-top: 3px solid #ff6033;
        }
      }
    } 
    .header__menu-link_active{
      padding-top: 5px;
      border-top: 3px solid #ff6033
    }
  }
    
    

.icon-scroll {
    position: absolute;
    left: 50%;
    bottom: 65px;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    margin-top: 15px;
    box-shadow: inset 0 0 0 2px #262626;
    border-radius: 25px;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      width: 7px;
      height: 7px;
      background: #262626;
      margin-left: -3px;
      top: 8px;
      border-radius: 4px;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: scroll;
    } 
  }
  
  @keyframes scroll {
    from {
      opacity: 1;
      top: 10px;
    }
  
    to {
      opacity: 0;
      top: 35px;
    }
  }

  

@media (max-width: 1200px) {
    .main {
      min-height: 860px;
      padding: 50px;
    }
  }
  
@media (max-width: 992px) {
    .main {
      min-height: 750px;;
    }
    .header__menu-link {
      margin-left: 25px;
    }
  }

@media (max-width: 768px) {
  .main {
    min-height: 550px;
  }
  .main__title {
    margin-top: 190px;
  }
  .main__descr {
  max-width: 340px;
  }
  .header__menu {
    display: none;
  }
  .icon-scroll {
    display: none;
  }
}

@media (max-width: 576px) {
  .main {
    min-height: 500px;
    padding: 40px;
  }
  .main__title {
    margin-top: 130px;
  }
  .main__descr {
  max-width: 260px;
  }
}

@media (max-width: 480px) {
  .main {
    min-height: 500px;
    padding: 25px;
  }
}

@media (max-width: 375px) {
  .header__logo a {
    font-size: 40px;
  }
  .main__title {
    font-size: 50px;
  }
  .main__descr {
    font-size: 15px;
    line-height: 25px;
    max-width: 180px;
  }
  .main__btn {
    width: 150px;
    height: 45px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .main {
    min-height: 450px;
  }
  .main__title {
    font-size: 50px;
    margin-top: 90px;
  }
}