body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: #990909;
    max-width: 950px;
}
ul {
    list-style: none;
}
.header {
    height: 45px;
}

.title-img {
    display:block;
    margin: 0 auto;
}
.nav-main {
    height: 156px;
    background-color: #000;
    padding: 10px 0 10px 0;
    margin-bottom: 5px;
}
.main-list {
    display:flex;
    justify-content: space-around;
    padding: 0;
}
.main-list-item {
    display:flex;
    flex-direction: column;
    text-align: center;
}
.main-list-link {
    color: #fff;
    text-decoration: none;
}
.nav-img {
    height: 115px;
    margin-bottom: 5px;
}
.main {
    display: flex;
}
.nav-left {
    width:200px; 
    background-color: #7d0909;
}
.left-list {
    padding: 5px;
    margin: 0 auto;
}
.left-list-link {
    color: #e95b0d;
}
.left-list-item {
    margin-bottom: 20px;    
}

.main-content {
    width: 586px;
    padding: 0 10px;
    color: #fff;
}
.aside {
    width:155px;
    background-color: #e3dddd;
}
h3 {
    margin: 0 auto;
    margin-bottom: 8px;
    background-color: #bdbdbd;
    text-align: center;
}
span {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    border-top: 1px solid #9a9a9a;
    width: 80px;
    text-align: center;

}
.footer {
    text-align: center;
    background-color: #e95b11;
    color: #fff;
    margin-top: 20px;
    padding: 2px;
}